body {
	background: black url("http://ih0.redbubble.net/image.65171399.4539/raf,220x200,075,f,101010:01c5ca27c6.u4.jpg");
	font-size:100%;
	width:100%
}


.albumcover {
	background: url("http://culturainquieta.com/images/articles/Hear_Lost_Recording_of_Pink_Floyd_Playing_/wish_you_were_here_pink_floyd_1975_Cultura_Inquieta.jpg")
	center / cover
	black;	
	width: 34.4em;
	height: 38.75em;
	border-radius: 5em/10em;
	margin: auto;
}
	
.albumInfo {
	text-align: center;
	margin: auto;
	width: 23em;
	padding:1em;
	background:rgba(0,0,0,.6);
	
}

.bandInfo {
	width:22em;
	background: radial-gradient(rgba(255,255,255,1),rgba(0,0,0,.5));
	color: black;
	margin: auto;
	padding: .5em;
	border-radius: 1em;
	text-align:left;
	font: italic 1em monospacee;  
}

 .bandname {
  font: bold 2em IRefuseToSink;
  text-decoration:none;
  color:pink;
 
 
 
 
/* FONTFACES GO BELOW*/

@font-face {
		font-family: 'IRefuseToSink';
		src: url('../FontFiles/I-Refuse-To-Sink.ttf') format('truetype');

}

@font-face {
		font-family: 'AceRecords';
		src: url('../FontFiles/Ace Records.ttf') format('truetype');

}

@font-face {
		font-family: 'UnderAuthority';
		src: url('../FontFiles/UnderAuthority.ttf') format('truetype');

}

@font-face {
		font-family: 'OrangeJuice';
		src: url('../ FontFiles/orange juice 2.0.ttf') format('truetype');

}