body {
	background: black url("http://ih0.redbubble.net/image.65171399.4539/raf,220x200,075,f,101010:01c5ca27c6.u4.jpg");
	font-size:100%;
	width:100%
}

 a:link {
  font: bold 2em IRefuseToSink;
  text-decoration:none;
  color:pink;

}

 a:visited {
	font: bold 2em IRefuseToSink;
	text-decoration:none;
	color:purple;
 }
 
 a:hover { 
	text-decoration: underline;
	background-color: white;
 }
 
 table {
	 width: 33em;
	 margin: auto;
	 background-color: grey;
	 color: orange;
	 font: 2em OrangeJuice; 
}
 
 td  {
	 font-style: italic;
 }
 
 
 
 
 
 /* FONTFACES GO BELOW*/

@font-face {
		font-family: 'IRefuseToSink';
		src: url('../FontFiles/I-Refuse-To-Sink.ttf') format('truetype');

}

@font-face {
		font-family: 'AceRecords';
		src: url('../FontFiles/Ace Records.ttf') format('truetype');

}

@font-face {
		font-family: 'UnderAuthority';
		src: url('../FontFiles/UnderAuthority.ttf') format('truetype');

}

@font-face {
		font-family: 'OrangeJuice';
		src: url('../ FontFiles/orange juice 2.0.ttf') format('truetype');

}